* {
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    background-color: #ffbf69;
}

.nav {
    display: flex;
    gap: 20px;
}

.nav a {
    margin-left: 30px;
    text-decoration: none;
    justify-content: space-between;
    color: black; 
    font-size: 14px;
}
